/* .form {
  padding: 24px;
  border: 2px solid grey;
  width: 350px;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 18px;
}

.input {
  margin-top: 10px;
  margin-bottom: 8px;
}

.button {
  margin-top: 10px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 3px;
  padding: 1px 10px;
}

.button:hover {
  background: rgb(240, 240, 240);
} */

.form_title{
    margin-bottom: 20px;
    
      font-family: 'Roboto';
      font-weight: 500;
      font-size: 20px;
}

.form_input{
  height: 30px;
    margin-bottom: 20px;
    padding: 2px 20px;
    width: 100px;
  
    border: solid 2px #f3848c;
    border-radius: 6px;
    background-color: inherit;
  
    outline: none;
  
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: #f3848c;
}
    .form_input:hover,
    .form_input:focus {
      border: solid 2px #3c322d;
    }
  
.form_button{
  display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 5px;
    cursor: pointer;
    width: 100px;
    border-radius: 6px;
    color: #ffffff;
    background: linear-gradient(180deg,
        rgba(248, 110, 103, 0.63) 0%,
        rgba(253, 86, 143, 0.86) 100%);
    box-shadow: 0px 7px 27px -2px rgba(253, 88, 140, 0.35);
    border: inherit;
  
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 15px;
}
    .button:hover,
    .button:focus {
      border: solid 1px #f3848c;
      color: #f3848c;
      background: #ffffff;
      filter: drop-shadow(10px 15px 25px rgba(232, 183, 183, 0.45));
    }
